@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center; background-color:orange; font-size:45px;">
    <b>abc tutorial</b>
    </div>
    <div>
        <pre>
Hi,
we need to verify Email address for complete your registration!
Click <a href="@ViewBag.ConfirmationLink">Here</a>
</pre>
    </div>
</body>
</html>
